  body {
    background-color: #091f2885
  }
  
  p {
    text-align: justify;
  }
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

  img.inicial {
    width: 100%; 
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img.dentro {
    width: 70%; 
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background-color: rgba(103, 81, 231, 0.801);
  }

  /* Acordiones */

  .accordion {
    font-size: 2vw;
	background-color: rgb(30, 30, 30);
	color: #fff;
	display: block;
	padding: .5em;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: rgba(103, 81, 231, 0.801);
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795';
    font-size: 1.5vw;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }